.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}


.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius:1.5rem ;
    border: 1px solid transparent;
    transition:  var(--transition);
    -webkit-transition:  var(--transition);
    -moz-transition:  var(--transition);
    -ms-transition:  var(--transition);
    -o-transition:  var(--transition);
    -webkit-border-radius:1.5rem ;
    -moz-border-radius:1.5rem ;
    -ms-border-radius:1.5rem ;
    -o-border-radius:1.5rem ;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
    overflow: hidden;
    -webkit-border-radius:1rem;
}

.portfolio__item h3 {
    margin: 1.2rem 0 1rem;
    color: var(--color-light);
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }


}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {

    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }




}